# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Project Specific
logs/
*.zip
*.png
score.txt

# OS
.DS_Store
Thumbs.db
best_validation_run.mp4
results/validation_20251208_141052/best_run.mp4
